<h1>Stuff</h1>

<ul>
  <% @chapters.each do |chapter| %>
    <li>
      <%= chapter.name %>
      <ul>
        <% chapter.sections.each do |section| %>
          <li>
            <%= section.name %>
            <ul>
              <% section.lessons.in_order.each do |lesson| %>
              <li>
                <%= link_to lesson.name, chapter_section_lesson_path(chapter, section, lesson) %>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>
      </ul>
    </li>
  <% end %>
</ul>
